%button-default-colors {
  background: $button-default-bg;
  color: $button-default-color;

  &:hover {
    @include button-box-shadow($color-primary);
  }
}

%button-primary-colors {
  background: $button-primary-bg;
  color: $button-primary-color;

  &:hover {
    @include button-box-shadow($color-primary);
  }
}

%button-secondary-colors {
  background: $button-secondary-bg;
  color: $button-secondary-color;

  &:hover {
    @include button-box-shadow($color-primary);
  }
}

%button-negative-colors {
  background: $button-negative-bg;
  color: $button-negative-color;

  &:hover {
    @include button-box-shadow($color-primary);
  }
}
