%button-default-colors {
  background: $button-default-bg;
  color: $button-default-color;
}

%button-primary-colors {
  background: $button-primary-bg;
  color: $button-primary-color;
}

%button-secondary-colors {
  background: $button-secondary-bg;
  color: $button-secondary-color;
}

%button-negative-colors {
  background: $button-negative-bg;
  color: $button-negative-color;
}
