$dark-gray: #605b56;
$gray: #837a75;
$lime: #aCC18a;
$light-lime: #adfeb7;
$light-gray: #f2fbe0;

$color-primary: $lime;
$color-secondary: $light-lime;
$color-text-primary: $dark-gray;
$color-text-secondary: $gray;
$color-divider: $light-gray;

$default-font-family: 'Raleway', sans-serif;
$logo-letter-spacing: 0.1em;

$container-width: 960px;

$navbar-height: 60px;
$navbar-link-padding: 15px;
$navbar-link-transition: all .15s linear;
