// COLORS

$dark-gray: #605b56;
$gray: #837a75;
$lime: #acc18a;
$light-lime: #adfeb7;
$light-gray: #f2fbe0;
$red: #7c0902;

$color-primary: $dark-gray;
$color-secondary: $gray;
$color-text-primary: $lime;
$color-text-secondary: $light-lime;
$color-divider: $light-gray;
$color-negative: $red;

$button-primary-bg: $color-primary;
$button-primary-color: $color-text-primary;
$button-secondary-bg: $color-secondary;
$button-secondary-color: $color-text-secondary;
$button-negative-bg: $color-negative;
$button-negative-color: lighten($red, 50%);


// LAYOUT

$page-top-spacing: 40px;

$container-width: 960px;


// TYPOGRAPHY

$default-font-family: 'Raleway', sans-serif;
$logo-font-size: 1.5rem;
$logo-letter-spacing: .1em;


// NAVBAR

$navbar-height: 60px;
$navbar-link-padding: 15px;


// CONTROLS

$button-types: (
  primary,
  secondary,
  negative,
);

$control-border-radius: 3px;

$button-height: 40px;
$button-padding: 15px;
$button-font-size: .9rem;
$button-font-weight: 600;

$button-small-height: 25px;
$button-small-padding: 8px;
$button-small-font-size: .8rem;

$default-transition: all .15s linear;
