.form {
  @extend .center-block;

  width: $form-default-width;

  .form__input,
  .button {
    box-sizing: border-box;
    display: block;
    margin-bottom: $input-margin-bottom;
  }

  .form__input {
    border: $default-border-width solid $input-border-color;
    border-radius: $control-border-radius;
    box-shadow: $input-shadow;
    font-size: 14px;
    font-family: $default-font-family;
    height: $control-height;
    margin-top: $input-margin-top;
    outline: none;
    padding-left: $input-padding;
    padding-right: $input-padding;
    transition: $default-transition;
    width: 100%;

    &:focus {
      border-color: $input-border-focus-color;
      box-shadow: $input-focus-shadow;
    }
  }

  &.form--inline {
    margin: 0;
    width: 100%;

    label {
      margin-right: $input-margin-top;
    }

    .form__input,
    .button {
      display: inline-block;
      margin-bottom: 0;
      margin-right: $input-margin-bottom;
    }

    .form__input {
      width: $form-inline-input-width;
    }
  }

  .form__radio {
    display: none;

    + label {
      display: inline-block;
      margin-bottom: $checkbox-margin-bottom;
      vertical-align: middle;

      &:before {
        @include rounded($radio-size);

        background: $color-primary;
        border: $checkbox-border;
        box-shadow: $checkbox-shadow;
        content: '';
        display: inline-block;
        margin-right: $checkbox-margin-right;
        vertical-align: middle;
      }
    }

    &:checked + label:before {
      background: $blue;
      box-shadow: $checkbox-checked-shadow;
    }
  }
}
