main {
  padding-bottom: $page-top-spacing;
  padding-top: $page-top-spacing;
}

.center-block {
  display: block !important;
  margin: 0 auto;
}

.container {
  @extend .center-block;
  @include clearfix;

  width: $container-width;
}

.left {
  float: left;
}

.right {
  float: right;
}

.full-width {
  width: 100%;
}
