main {
  padding-top: $page-top-spacing;
}

.container {
  @include center-block;
  @include clearfix;

  width: $container-width;
}

.left {
  float: left;
}

.right {
  float: right;
}

.full-width {
  width: 100%;
}
